IMG_BAD RCDATA "Bad.png"
IMG_GOOD RCDATA "Good.png"
IMG_GOOD_WMF RCDATA "Ok_Mark_clip_art.wmf"
IMG_BAD_WMF RCDATA "Wrong_Cross_clip_art.wmf"
IMG_INEJ_BIG RCDATA "Inej_Big.png"
IMG_ISTINA_BIG RCDATA "Istina_Big.png"